@model PROPlanner.Models.DataModels.TeamList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeamList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId1" class="control-label"></label>
                <select asp-for="PersonId1" class ="form-control" asp-items="ViewBag.PersonId1"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId2" class="control-label"></label>
                <select asp-for="PersonId2" class ="form-control" asp-items="ViewBag.PersonId2"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId3" class="control-label"></label>
                <select asp-for="PersonId3" class ="form-control" asp-items="ViewBag.PersonId3"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId4" class="control-label"></label>
                <select asp-for="PersonId4" class ="form-control" asp-items="ViewBag.PersonId4"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId5" class="control-label"></label>
                <select asp-for="PersonId5" class ="form-control" asp-items="ViewBag.PersonId5"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId6" class="control-label"></label>
                <select asp-for="PersonId6" class ="form-control" asp-items="ViewBag.PersonId6"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId7" class="control-label"></label>
                <select asp-for="PersonId7" class ="form-control" asp-items="ViewBag.PersonId7"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId8" class="control-label"></label>
                <select asp-for="PersonId8" class ="form-control" asp-items="ViewBag.PersonId8"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId9" class="control-label"></label>
                <select asp-for="PersonId9" class ="form-control" asp-items="ViewBag.PersonId9"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId10" class="control-label"></label>
                <select asp-for="PersonId10" class ="form-control" asp-items="ViewBag.PersonId10"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId11" class="control-label"></label>
                <select asp-for="PersonId11" class ="form-control" asp-items="ViewBag.PersonId11"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId12" class="control-label"></label>
                <select asp-for="PersonId12" class ="form-control" asp-items="ViewBag.PersonId12"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId13" class="control-label"></label>
                <select asp-for="PersonId13" class ="form-control" asp-items="ViewBag.PersonId13"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId14" class="control-label"></label>
                <select asp-for="PersonId14" class ="form-control" asp-items="ViewBag.PersonId14"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId15" class="control-label"></label>
                <select asp-for="PersonId15" class ="form-control" asp-items="ViewBag.PersonId15"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId16" class="control-label"></label>
                <select asp-for="PersonId16" class ="form-control" asp-items="ViewBag.PersonId16"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId17" class="control-label"></label>
                <select asp-for="PersonId17" class ="form-control" asp-items="ViewBag.PersonId17"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId18" class="control-label"></label>
                <select asp-for="PersonId18" class ="form-control" asp-items="ViewBag.PersonId18"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId19" class="control-label"></label>
                <select asp-for="PersonId19" class ="form-control" asp-items="ViewBag.PersonId19"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId20" class="control-label"></label>
                <select asp-for="PersonId20" class ="form-control" asp-items="ViewBag.PersonId20"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId21" class="control-label"></label>
                <select asp-for="PersonId21" class ="form-control" asp-items="ViewBag.PersonId21"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId22" class="control-label"></label>
                <select asp-for="PersonId22" class ="form-control" asp-items="ViewBag.PersonId22"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId23" class="control-label"></label>
                <select asp-for="PersonId23" class ="form-control" asp-items="ViewBag.PersonId23"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonId24" class="control-label"></label>
                <select asp-for="PersonId24" class ="form-control" asp-items="ViewBag.PersonId24"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

