@model PROPlanner.Models.DataModels.Schedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleStartDate" class="control-label"></label>
                <input asp-for="ScheduleStartDate" class="form-control" />
                <span asp-validation-for="ScheduleStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleEndDate" class="control-label"></label>
                <input asp-for="ScheduleEndDate" class="form-control" />
                <span asp-validation-for="ScheduleEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleWeek" class="control-label"></label>
                <input asp-for="ScheduleWeek" class="form-control" />
                <span asp-validation-for="ScheduleWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleName" class="control-label"></label>
                <input asp-for="ScheduleName" class="form-control" />
                <span asp-validation-for="ScheduleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDescription" class="control-label"></label>
                <input asp-for="ScheduleDescription" class="form-control" />
                <span asp-validation-for="ScheduleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDayId" class="control-label"></label>
                <select asp-for="WorkingDayId" class="form-control" asp-items="ViewBag.WorkingDayId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDayId1" class="control-label"></label>
                <select asp-for="WorkingDayId1" class="form-control" asp-items="ViewBag.WorkingDayId1"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDayId2" class="control-label"></label>
                <select asp-for="WorkingDayId2" class="form-control" asp-items="ViewBag.WorkingDayId2"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDayId3" class="control-label"></label>
                <select asp-for="WorkingDayId3" class="form-control" asp-items="ViewBag.WorkingDayId3"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDayId4" class="control-label"></label>
                <select asp-for="WorkingDayId4" class="form-control" asp-items="ViewBag.WorkingDayId4"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalWorkedHours" class="control-label"></label>
                <input asp-for="TotalWorkedHours" class="form-control" />
                <span asp-validation-for="TotalWorkedHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
