
@{
    ViewData["Title"] = "RefAccounting";
}

<h2>Referee Accounting Handling Payments !</h2>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RefReceipts" asp-action="Index">REFEREE Receipts !</a>
        </li>        
    </ul>
</div>


